@{
    ViewData["Title"] = "Blogging Page";
}

<h3>My Cool Blog Site</h3>

<p>Number of blogs: @ViewData["NumberOfBlogs"]</p>
<p>Average number of posts per blog: @ViewData["AverageNumberOfPosts"]</p>
